<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>diNUS - Login</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/small-business.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <% include partials/header.ejs %>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <!-- /.col-lg-8 -->
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 class="font-weight-light">Restaurant reservation</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="/browse">Browse Available Restaurants</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <% if (isLoggedIn) {%>
        <div class="card text-white bg-secondary my-5 py-4">
          <div class="card-body">
              <h1>Already logged in</h1>
          </div>
        </div>
    <% } else { %>
        <div class="row my-5 py-4">
          <div class="col-lg-5 py-4">
              <h1>Login</h1>
              <form id="html_form" action="login" role="form" method="post">
      			<div class="form-group">
      				<label for="user">User Name</label>
      				<input type="text" class="form-control" id="user" name="username" placeholder="Username">
      			</div>
      			<div class="form-group">
      				<label for="password">Password</label>
      				<input type="password" class="form-control" id="pw" name="password">
      			</div>
      			<button type="submit" class="btn btn-primary">Submit</button>
      		</form>
        </div>
        <div class="col-lg-1 py-4"></div>
            <div class="col-lg-5 py-4">
            <h1>Sign Up</h1>
            <% if (typeof isError != "undefined") {%><div class="alert alert-<%=isError?'danger':'success' %>"><%= msg %></div><% } %>
            <% if (typeof isError != "undefined") %>
            <form id="html_form" action="signup" role="form" method="post">
                <div class="form-group">
                    <label for="user">Full Name</label>
                    <input type="text" class="form-control" id="user" name="custname" placeholder="e.g. Alice Tan">
                </div>
                <div class="form-group">
                    <label for="user">Contact No.</label>
                    <input type="text" class="form-control" id="user" name="phone" placeholder="e.g. 6777 3777">
                </div>
                <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" id="user" name="username" placeholder="e.g. alice123">
                </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="pw" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
      </div>
          </div>
        </div>
    <% } %>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
